#login {
    width: 1000px;
    margin: 0 auto;
}

#login p {
    text-align: center;
}

.t1 {
    font-size: 28px;
    font-family: "微软雅黑";
}

.t2 {
    font-size: 15px;
    font-family: "微软雅黑";
    color: #999999;
}

.textbox {
    width: 350px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e2b709;
    padding-left: 10px;
}

.submit {
    width: 360px;
    height: 40px;
    background-color: #F0184d;
    border-radius: 3px;
    color: white;
    border: 1px solid #666666;
}
.button{
	width: 365px;
	height: 40px;
	padding-left: 10px;
	background-color: white;
	border: 1px solid #666666;
}
.text{
	width: 360px;
	margin: 0 auto;
	font-size: 15px;
	color: #666666;
}